*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

::selection {
  background: rgba(59, 130, 246, 0.2);
}
